.container{
    margin-top: 20px;
}
.footer-autumn {
    background-color: #333;
    color: #666;
    text-align: center;
    padding: 40px 0;
}

.alert {
    padding: 9px;
}

.mr0{
    margin-right: 0px;
}

.ml0{
    margin-left: 0px;
}

.mb0 {
    margin-bottom: 0px;
}

.info {
    width: 80%;
}

.fz14 {
    font-size: 14px;
}

.m01 {
    margin: 0.1rem;
}