{% extends 'Web/Views/layout.html.twig' %}

{% block title %}用户主页{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset("asset/css/public.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ asset("asset/css/home.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ asset("asset/css/WebApp_reset.css") }}" />
{% endblock %}

{% block head_scripts %}
<script>
    seajs.use("/asset/js/home")
</script>
{% endblock %}

{% block body %}
<div class="body">
<div class="head_box">
	<div class="lf_box">
		<div class="head">
			<img src="{{ asset("asset/img/header.jpg") }}">
			<div>潇洒哥</div>
		</div>
		<div class="lf_info">
			<div class="thx_tit">杨小咩TO潇洒哥的<span>感谢信</span></div>
			<div class="thx_info">潇洒哥真乃活雷锋！感谢潇洒哥帮我找到了钱包</div>
		</div>
	</div>
</div>
<div class="menu">
	<div class="menu1">红领巾小队</div>
	<div class="menu_box">
		<div class="menu2">我是失主</div>
		<div class="menu_box2">
			<div class="menu3">我是拾主</div>
			<div class="menu4">我的信息</div>
		</div>
	</div>
</div>
</div>
{% endblock %}