<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" type="text/css" href="css/public.css" />
		<link rel="stylesheet" type="text/css" href="css/details.css" />
		<link rel="stylesheet" type="text/css" href="css/WebApp_reset.css" />
		<title>查看详情</title>
	</head>
	<body>
		<div class="posts" id="posts" >
			<div class="posted" id="posted" >
				<div class="header">
					<img src="img/touxiang2.jpg" >
				</div>
				<div class="poster" id="poster">
					<span>饭糕</span>
					<h1>荣誉勋章</h1>
					<h2>信息学院</h2>
				</div>
			</div>
			<div class="posts_info" id="posts_info">
				<div class="thing">
					<div class="thing_label" id="thing_label">标签：</div>
				</div>
				<div class="info_des">昨天我在食堂门口捡到一个粉红色钱包，内有一张卡通和两张银行 卡，麻烦失主看到和我联系。</div>
			</div>
		</div>
		<ul class="comment_nav">
			<li>
				<div class="header">
					<img src="img/touxiang.jpg" >
				</div>
				<div class="poster">
					<span>杨小咩</span>
					<div class="comment_box">同学，我今天有在食堂门口捡到一个钱包耶。</div>
					<div class="comment_time">今天 07:00</div>
				</div>
			</li>
		</ul>
		<div class="chat_box">
			<div class="chat_input">
				<input type="text" placeholder="点击输入">
			</div>
			<div class="chat_but">私敲他</div>
		</div>
	</body>
</html>
