<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" type="text/css" href="css/public.css" />
		<link rel="stylesheet" type="text/css" href="css/list.css" />
		<link rel="stylesheet" type="text/css" href="css/WebApp_reset.css" />
		<title>我是失主</title>
	</head>
	<body>
		<div class="search_box">
			<input type="text" id="search_tab" class="search_tab" placeholder="输入关键字">
		</div>
		<div class="list_body">
			<ul>
				<li>
					<img src="img/touxiang.jpg">
					<div class="info_box">
						<div class="info">
							<span>粉红色钱包</span>
							<div class="info_det">昨天我在食堂门口捡到一个粉红色钱包，内有 一张卡通和两张银行卡，麻烦失主看到和我联系。</div>
						</div>
						<div class="check_box">
							<div class="check_info01">查看详情</div>
							<div class="up_time">2014-5-29</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="post_box">
			<div class="post_but">找不到发帖求助</div>
		</div>
	</body>
</html>