<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" type="text/css" href="css/public.css" />
		<link rel="stylesheet" type="text/css" href="css/WebApp_reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/personal.css"/>
		<title>个人中心</title>
	</head>
	<body>
		<ul class="per_list">
			<li>我的资料</li>
			<li>荣誉勋章</li>
			<li>雷锋日记</li>
			<li>收藏夹</li>
			<li>好友</li>
			<li>消息</li>
			<li>设置</li>
		</ul>
		<div class="feed_back">反馈意见给我们</div>
	</body>
</html>
