<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" type="text/css" href="css/public.css" />
		<link rel="stylesheet" type="text/css" href="css/WebApp_reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/post.css"/>
		<title>个人中心</title>
	</head>
	<body>
		<div class="title_box">
			<input type="text" placeholder="点击输入标签" />
		</div>
		<div class="info_box">
			<textarea placeholder="点击输入文字内容"></textarea>
		</div>
		<div class="pic_box">
			<img src="img/header.jpg" >
		</div>
		<div class="post_but">发布</div>
		<div class="cancel_but">放弃</div>
	</body>
</html>